<ion-header>
  <ion-navbar color="green">
    <ion-buttons start>
      <button ion-button icon-right small clear color="white">
        舟山
        <ion-icon name="arrow-down"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <button ion-button icon-left small round color="white">
        <ion-icon name="ios-search-outline" color="green"></ion-icon>
        <span color="light">搜索商家或商圈等</span>
      </button>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only small clear color="white">
        <ion-icon name="ios-qr-scanner"></ion-icon>
      </button>
      <button ion-button icon-only small clear color="white">
        <ion-icon name="ios-notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

</ion-content>
