page-order {
    .loginPage {
        padding-top: 150px;
        text-align: center;
        ion-icon {
            font-size: 140px;
        }
        p {
            line-height: 20px;
        }
        button {
            width: 150px;
        }
    }
}