<!--<div class="list-header">
    <h1 class="title">购物车</h1>
    <span class="empty" (click)="empty()">清空</span>
</div>
<div class="list-content" #listcontent>
    <ul>
        <li *ngFor="let food of choosedFoods" class="food">
            <span class="name">{{food.name}}</span>
            <div class="price">
                <span>￥{{food.price*food.count}}</span>
            </div>
            <div class="cartcontrol-wrapper">
                <mt-cartcontrol [food]="food" (chooseFoodsEmit)="chooseFoods($event)"></mt-cartcontrol>
                <mt-cartcontrol [food]="food" (chooseFoodsEmit)="chooseFoods($event)"></mt-cartcontrol>
            </div>
        </li>
    </ul>
</div>-->