sellergoods {
    display: flex !important;
    .menu-wrapper {
        flex: 0 0 80px;
        width: 80px;
        background: #f3f5f7;
    }
    .menu-wrapper .menu-item {
        display: table;
        padding: 0 12px;
        height: 54px;
        line-height: 14px;
    }
    .menu-wrapper .menu-item.current {
        position: relative;
        margin-top: -1px;
        z-index: 10;
        background: #fff;
        font-weight: 700;
    }
    .menu-wrapper .menu-item .icon {
        display: inline-block;
        vertical-align: top;
        width: 12px;
        height: 12px;
        margin-right: 2px;
        background-size: 12px 12px;
        background-repeat: no-repeat;
    }
    .menu-wrapper .menu-item .text {
        display: table-cell;
        width: 56px;
        vertical-align: middle;
        font-size: 12px;
        border-bottom: 1px solid rgba(7, 17, 27, 0.1);
    }
    .menu-wrapper .menu-item.current .text {
        border: none;
    }
    .menu-wrapper .menu-item .icon.decrease {
        background-image: url(./img/decrease_1@2x.png);
    }
    .menu-wrapper .menu-item .icon.discount {
        background-image: url(./img/discount_1@2x.png);
    }
    .menu-wrapper .menu-item .icon.special {
        background-image: url(./img/special_1@2x.png);
    }
    .menu-wrapper .menu-item .icon.invoice {
        background-image: url(./img/invoice_1@2x.png);
    }
    .menu-wrapper .menu-item .icon.guarantee {
        background-image: url(./img/guarantee_1@2x.png);
    }
    .foods-wrapper {
        flex: 1;
        background: #fff;
    }
    .foods-wrapper .title {
        position: sticky;
        top: 0;
        z-index: 5;
        padding-left: 14px;
        height: 26px;
        line-height: 26px;
        border-left: 2px solid #d9dde1;
        font-size: 12px;
        color: rgb(147, 153, 159);
        background: #f3f5f7;
    }
    .foods-wrapper .food-item {
        position: relative;
        display: flex;
        margin: 18px;
        padding-bottom: 18px;
        border-bottom: 1px solid rgba(7, 17, 27, 0.1);
    }
    .foods-wrapper .food-item:last-child {
        border: none;
        margin-bottom: 0;
    }
    .foods-wrapper .food-item .image {
        flex: 0 0 57px;
        margin-right: 10px;
    }
    .foods-wrapper .food-item .content {
        flex: 1;
    }
    .foods-wrapper .food-item .content .name {
        margin: 2px 0 8px 0;
        height: 14px;
        line-height: 14px;
        font-size: 14px;
        color: rgb(7, 17, 27);
    }
    .foods-wrapper .food-item .content .desc {
        margin-bottom: 8px;
        line-height: 12px;
        font-size: 10px;
        color: rgb(147, 153, 159);
    }
    .foods-wrapper .food-item .content .extra {
        line-height: 10px;
        font-size: 10px;
        color: rgb(147, 153, 159);
    }
    .foods-wrapper .food-item .content .extra .count {
        margin-right: 12px;
    }
    .foods-wrapper .food-item .content .price {
        font-weight: 700;
        line-height: 24px;
    }
    .foods-wrapper .food-item .content .price .now {
        margin-right: 8px;
        font-size: 14px;
        color: rgb(240, 20, 20);
    }
    .foods-wrapper .food-item .content .price .old {
        text-decoration: line-through;
        font-size: 10px;
        color: rgb(147, 153, 159);
    }
    .foods-wrapper .food-item .content .cartcontrol-wrapper {
        position: absolute;
        right: 0;
        bottom: 12px;
    }
    .shopcartwrapper {
        position: fixed;
        left: 0;
        bottom: 134px;
        width: 100%;
        z-index: 50;
        height: 48px;
    }
}