<ion-header no-border>

    <ion-navbar>
        <ion-title>我的收货地址</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-list no-border>

        <ion-item-sliding *ngFor="let delivery of deliveries; let i = index">
            <button ion-item (click)="addEditDelivery(delivery)">
                {{delivery.consignee}} {{delivery.tel}}
                <p><span class="def-address" *ngIf="delivery.selected==1">[默认]</span> {{delivery.area}} {{delivery.address}}</p>
            </button>
            <ion-item-options>
                <button ion-button color="danger" (click)="delDelivery(delivery.id,i)">删除</button>
            </ion-item-options>
        </ion-item-sliding>

    </ion-list>
    <button class="addBtn" ion-button full (click)="addEditDelivery()">新增收货地址</button>
</ion-content>