<ion-content>
  <ion-list no-lines>
    <ion-item-sliding>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>Finn</h2>
        <h3>Don't Know What To Do!</h3>
        <p>Hayao Miyazaki • 1988</p>
        <ion-note item-right>
          <p class="start">7.3Km</p>
          <p class="end">已售321</p>
        </ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left>
                        删除
                    </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
