<ion-content class="business">
  <ion-list no-lines>
    <ion-item-sliding>
      <ion-item>
        <ion-checkbox color="dark" *ngIf="isEdit"></ion-checkbox>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <ion-label>
          <h2>花果山水果</h2>
          <h3>Don't Know What To Do!</h3>
          <p>起送 ￥49 配送 ￥0 美团转送</p>
        </ion-label>
        <ion-note item-right>
          <p class="start">7.3Km</p>
        </ion-note>
      </ion-item>
      <ion-item-options *ngIf="!isEdit">
        <button ion-button color="danger" icon-left>
            删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-checkbox color="dark" *ngIf="isEdit"></ion-checkbox>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <ion-label>
          <h2>花果山水果</h2>
          <h3>Don't Know What To Do!</h3>
          <p>起送 ￥49 配送 ￥0 美团转送</p>
        </ion-label>
        <ion-note item-right>
          <p class="start">7.3Km</p>
        </ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left>
            删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-checkbox color="dark" *ngIf="isEdit"></ion-checkbox>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <ion-label>
          <h2>花果山水果</h2>
          <h3>Don't Know What To Do!</h3>
          <p>起送 ￥49 配送 ￥0 美团转送</p>
        </ion-label>
        <ion-note item-right>
          <p class="start">7.3Km</p>
        </ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left>
            删除
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-checkbox color="dark" *ngIf="isEdit"></ion-checkbox>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <ion-label>
          <h2>花果山水果</h2>
          <h3>Don't Know What To Do!</h3>
          <p>起送 ￥49 配送 ￥0 美团转送</p>
        </ion-label>
        <ion-note item-right>
          <p class="start">7.3Km</p>
        </ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left>
            删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-checkbox color="dark" *ngIf="isEdit"></ion-checkbox>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <ion-label>
          <h2>花果山水果</h2>
          <h3>Don't Know What To Do!</h3>
          <p>起送 ￥49 配送 ￥0 美团转送</p>
        </ion-label>
        <ion-note item-right>
          <p class="start">7.3Km</p>
        </ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left>
            删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-checkbox color="dark" *ngIf="isEdit"></ion-checkbox>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <ion-label>
          <h2>花果山水果</h2>
          <h3>Don't Know What To Do!</h3>
          <p>起送 ￥49 配送 ￥0 美团转送</p>
        </ion-label>
        <ion-note item-right>
          <p class="start">7.3Km</p>
        </ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left>
            删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-checkbox color="dark" *ngIf="isEdit"></ion-checkbox>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <ion-label>
          <h2>花果山水果</h2>
          <h3>Don't Know What To Do!</h3>
          <p>起送 ￥49 配送 ￥0 美团转送</p>
        </ion-label>
        <ion-note item-right>
          <p class="start">7.3Km</p>
        </ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left>
            删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-checkbox color="dark" *ngIf="isEdit"></ion-checkbox>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <ion-label>
          <h2>花果山水果</h2>
          <h3>Don't Know What To Do!</h3>
          <p>起送 ￥49 配送 ￥0 美团转送</p>
        </ion-label>
        <ion-note item-right>
          <p class="start">7.3Km</p>
        </ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left>
            删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-checkbox color="dark" *ngIf="isEdit"></ion-checkbox>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <ion-label>
          <h2>花果山水果</h2>
          <h3>Don't Know What To Do!</h3>
          <p>起送 ￥49 配送 ￥0 美团转送</p>
        </ion-label>
        <ion-note item-right>
          <p class="start">7.3Km</p>
        </ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left>
            删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-checkbox color="dark" *ngIf="isEdit"></ion-checkbox>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <ion-label>
          <h2>花果山水果</h2>
          <h3>Don't Know What To Do!</h3>
          <p>起送 ￥49 配送 ￥0 美团转送</p>
        </ion-label>
        <ion-note item-right>
          <p class="start">7.3Km</p>
        </ion-note>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left>
            删除
        </button>
      </ion-item-options>
    </ion-item-sliding>



  </ion-list>
  <div class="block" *ngIf="isEdit"></div>
  <div class="delBtn" *ngIf="isEdit" [@collectFold]="isEdit">
    <button ion-button block color="danger">
      删除
    </button>
  </div>
</ion-content>