<ion-content class="business">
  <ion-list no-lines>

    <ion-item-sliding *ngFor="let item of merChantList">
      <ion-item (click)="goDetail(item.merchant_type,item.merchant_id)" >
        <ion-checkbox color="dark" *ngIf="isEdit"></ion-checkbox>
        <ion-thumbnail item-left>
          <img [src]="item.merchant_avatar">
        </ion-thumbnail>
        <ion-label>
          <h2>{{item.merchant_name}}</h2>
          <h3>Don't Know What To Do!</h3>
          <p><span *ngIf="item.delivery_price" >起送 ￥49</span> <span *ngIf="item.min_price" >配送 ￥0</span> 美团转送</p>
        </ion-label>
        <ion-note item-right>
          <p class="start">7.3Km</p>
        </ion-note>
      </ion-item>
      <ion-item-options *ngIf="!isEdit">
        <button ion-button color="danger" icon-left>
            删除
        </button>
      </ion-item-options>
    </ion-item-sliding>



  </ion-list>
  <div class="block" *ngIf="isEdit"></div>
  <div class="delBtn" *ngIf="isEdit" [@collectFold]="isEdit">
    <button ion-button block color="danger">
      删除
    </button>
  </div>
</ion-content>