.shopcart .content-wrapper {
    display: flex;
    background: #141d27;
    font-size: 0px;
    color: rgba(255, 255, 255, 0.4);
}

.shopcart .content-wrapper .content-left {
    flex: 1;
}

.shopcart .content-wrapper .content-left .logo-wrapper {
    display: inline-block;
    position: relative;
    top: -10px;
    margin: 0 12px;
    padding: 6px;
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    vertical-align: top;
    border-radius: 50%;
    background: #141d27;
}

.shopcart .content-wrapper .content-left .logo-wrapper .logo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    background: #2b343c;
}

.shopcart .content-wrapper .content-left .logo-wrapper .logo.highlight {
    background: rgb(0, 160, 220);
}

.shopcart .content-wrapper .content-left .logo-wrapper .num {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 16px;
    font-size: 9px;
    font-weight: 700;
    color: #fff;
    background: rgb(240, 20, 20);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.shopcart .content-wrapper .content-left .logo-wrapper .ion-ios-cart {
    line-height: 44px;
    font-size: 24px;
    color: #80858a;
}

.shopcart .content-wrapper .content-left .logo-wrapper .logo.highlight .ion-ios-cart {
    color: #fff;
}

.shopcart .content-wrapper .content-left .price {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
    line-height: 24px;
    padding-right: 12px;
    box-sizing: border-box;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 16px;
    font-weight: 700;
}

.shopcart .content-wrapper .content-left .price.highlight {
    color: #fff;
}

.shopcart .content-wrapper .content-left .desc {
    display: inline-block;
    vertical-align: top;
    margin: 12px 0 0 12px;
    line-height: 24px;
    font-size: 10px;
}

.shopcart .content-wrapper .content-right {
    flex: 0 0 105px;
    width: 105px;
}

.shopcart .content-wrapper .content-right .pay {
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    background: #2b333b;
}

.shopcart .content-wrapper .content-right .pay.not-enough {
    background: #2b333b;
}

.shopcart .content-wrapper .content-right .pay.enough {
    background: #00b43c;
}

.shopcart .shopcart-list {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}

.shopcart .shopcart-list .list-header {
    line-height: 40px;
    height: 40px;
    padding: 0 18px;
    background: #f3f5f7;
    border-bottom: 1px solid rgba(7, 17, 27, 0.1);
}

.shopcart .shopcart-list .list-header .title {
    margin: 0;
    line-height: 40px;
    float: left;
    font-size: 14px;
    color: rgb(7, 17, 27);
}

.shopcart .shopcart-list .list-header .empty {
    float: right;
    font-size: 12px;
    color: rgb(0, 160, 220);
}

.shopcart .shopcart-list .list-content-wrapper {
    max-height: 217px;
}

.shopcart .shopcart-list .list-content {
    padding: 0 18px;
    background: #fff;
    overflow: hidden;
}

.shopcart .shopcart-list .list-content .food {
    position: relative;
    padding: 12px 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(7, 17, 27, 0.1);
}

.shopcart .shopcart-list .list-content .food .name {
    line-height: 24px;
    font-size: 14px;
    color: rgb(7, 17, 27);
}

.shopcart .shopcart-list .list-content .food .price {
    position: absolute;
    right: 90px;
    bottom: 12px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(240, 20, 20);
}

.shopcart .shopcart-list .list-content .food .cartcontrol-wrapper {
    position: absolute;
    right: 0;
    bottom: 6px;
}

.list-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    -webkit-backdrop-filter: blur(10px);
    filter: blur(10px);
}

shopcart-list {
    background: #fff;
    max-height: 60%;
    bottom: 0;
}

$modal-inset-min-height-small: 60px;
$modal-inset-min-width: 60px;
$modal-inset-min-height-large:68px;
$modal-inset-width: 60px;
$modal-inset-height-small:50px;
$modal-inset-height-large:400px;