<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-right small clear color="white">
              舟山
              <ion-icon name="arrow-down"></ion-icon>
            </button>
    </ion-buttons>
    <ion-title>
      <button ion-button icon-left small round color="white">
        <ion-icon name="ios-search-outline"></ion-icon>
        <span color="light">搜索商家或商圈等</span>
      </button>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only small clear color="white">
        <ion-icon name="ios-qr-scanner"></ion-icon>
      </button>
      <button ion-button icon-only small clear color="white">
        <ion-icon name="ios-notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="home-nav">
    <ion-slides pager="true">
      <ion-slide>
        <button (click)="goToFoodSeller()">
                  <ion-icon name="waimai" color="danger"></ion-icon>
                  <p>外卖</p>
                </button>
        <button>
                  <ion-icon name="xiuxian" color="secondary"></ion-icon>
                  <p>休闲</p>
                </button>
        <button>
                  <ion-icon name="lvyou" color="primary"></ion-icon>
                  <p>旅游</p>
                </button><button>
                  <ion-icon name="liren1" color="pink"></ion-icon>
                  <p>美发/丽人</p>
                </button><button>
                  <ion-icon name="qinziyou" color="green"></ion-icon>
                  <p>亲子游</p>
                </button>
        <button>
                  <ion-icon name="jiudian" color="gray"></ion-icon>
                  <p>酒店</p>
                </button>
        <button>
                  <ion-icon name="yundonghuwai2" color="orange"></ion-icon>
                  <p>户外</p>
                </button>
        <button>
                  <ion-icon name="ktv"></ion-icon>
                  <p>KTV</p>
                </button><button>
                  <ion-icon name="jiankang" color="yellow"></ion-icon>
                  <p>健康</p>
                </button><button>
                  <ion-icon name="fuwu1" color="coffee"></ion-icon>
                  <p>服务</p>
                </button>
      </ion-slide>
      <ion-slide>
        <button>
                  <ion-icon name="meishi" color="danger"></ion-icon>
                  <p>美食</p>
                </button>
        <button>
                  <ion-icon name="dianying"></ion-icon>
                  <p>电影</p>
                </button>
        <button>
                  <ion-icon name="feiji" color="primary"></ion-icon>
                  <p>机票</p>
                </button>
        <button>
                  <ion-icon name="anmo" color="yellow"></ion-icon>
                  <p>按足浴摩</p>
                </button>
        <button>
                  <ion-icon name="chongwushenghuo" color="gray"></ion-icon>
                  <p>宠物</p>
                </button>
        <button>
                  <ion-icon name="yinliao" color="danger"></ion-icon>
                  <p>酒吧</p>
                </button>
        <button>
                  <ion-icon name="jingdian" color="green"></ion-icon>
                  <p>景点</p>
                </button>
        <button>
                  <ion-icon name="sports" color="coffee"></ion-icon>
                  <p>体育运动</p>
                </button>
        <button>
                  <ion-icon name="xiuxian1" color="orange"></ion-icon>
                  <p>咖啡</p>
                </button>
        <button>
                  <ion-icon name="qita" color="secondary"></ion-icon>
                  <p>全部分类</p>
                </button>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col width-33>
        <h2>0元霸王餐</h2>
        <p>会员面单福利</p>
        <img src="" alt="">
      </ion-col>
      <ion-col width-33>
        <h2>0元霸王餐</h2>
        <p>会员面单福利</p>
        <img src="" alt="">
      </ion-col>
      <ion-col width-33>
        <h2>0元霸王餐</h2>
        <p>会员面单福利</p>
        <img src="" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-33>
        <h2>0元霸王餐</h2>
        <p>会员面单福利</p>
        <img src="" alt="">
      </ion-col>
      <ion-col width-33>
        <h2>0元霸王餐</h2>
        <p>会员面单福利</p>
        <img src="" alt="">
      </ion-col>
      <ion-col width-33>
        <h2>0元霸王餐</h2>
        <p>会员面单福利</p>
        <img src="" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list no-lines>
    <ion-list-header>
      — 猜你喜欢 —
    </ion-list-header>
    <ion-item-sliding>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>Finn</h2>
        <h3>Don't Know What To Do!</h3>
        <p>Hayao Miyazaki • 1988</p>
        <ion-note item-right>
          <p class="start">7.3Km</p>
          <p class="end">已售321</p>
        </ion-note>
        <!-- <button ion-button clear item-right>View</button> -->
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left>
          <ion-icon name="trash"></ion-icon>
          删除
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>Finn</h2>
        <h3>Don't Know What To Do!</h3>
        <p>Hayao Miyazaki • 1988</p>
        <button ion-button item-right>View</button>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left>
          <ion-icon name="trash"></ion-icon>
          删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
