<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list no-lines>
        <mt-list-header>
            <h3 left>我的订单</h3>
            <button right ion-button small clear>
              全部订单
              <ion-icon name="right"></ion-icon>
            </button>
        </mt-list-header>
        <order-nav></order-nav>
        <mt-split></mt-split>
        <ion-item class="order-list">
            <ion-thumbnail item-left>
                <img src="img/thumbnail-totoro.png">
            </ion-thumbnail>
            <h2>农家小院</h2>
            <h3>下单时间：2106-10-20 11:12</h3>
            <p>总价：￥33</p>
            <ion-note item-right>
                <p class="status">已完成</p>
                <button ion-button small outline>再来一单</button>
            </ion-note>

        </ion-item>
    </ion-list>
</ion-content>