user {
  ion-header {}
  .dv_top_ban {
    width: 100%;
    height: 120px;
    background: blue;
    padding-top: 0px;
    overflow: hidden;
    h2 {
      text-align: center;
      color: #fff;
      font-size: 1.8rem;
      line-height: 3.5rem;
      margin: 0 !important;
    }
    img {
      width: 75px;
      height: 75px;
      border-radius: 9999px;
      display: block;
      margin: 0 auto;
    }
    ion-icon {
      font-size: 75px;
      height: 75px;
      padding-top: 10px;
      display: block;
      text-align: center;
    }
  }
  .btn-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    button {
      flex: 1;
      height: 70px;
      background: none;
      ion-icon {
        font-size: 2.4rem;
      }
      p {
        margin: 3px 0;
      }
    }
  }
}
