reg-step1 {
    ion-content {
        background: #f3f5f7 !important;
        .padding {
            padding: 16px;
        }
    }
    ion-input {
        background: #fff;
        padding: 0 5px;
    }
}