headerdetail {
    .seller-header-detail {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: rgba(7, 17, 27, 0.8);
        color: #fff;
    }
    .hidden {
        display: none;
    }
    .clearfix {
        display: block;
    }
    .clearfix::after {
        display: block;
        content: ".";
        height: 0;
        line-height: 0;
        clear: both;
        visibility: hidden;
    }
    .detail-wrapper {
        min-height: 100%;
        width: 100%;
    }
    .detail-main {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .detail-main .name {
        line-height: 16px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }
    .detail-main .star-wrapper {
        margin-top: 18px;
        padding: 2px 0;
        text-align: center;
    }
    ul {
        padding: 0px;
        &.rating li {
            padding: 5px 10px !important;
            background: none;
            color: #ffb400;
            ion-icon {
                font-size: 30px;
            }
        }
    }
    .detail-close {
        position: relative;
        width: 32px;
        height: 32px;
        margin: -64px auto 0 auto;
        clear: both;
        font-size: 32px;
    }
    .seller-header-detail .detail-wrapper .title {
        display: flex;
        width: 80%;
        margin: 28px auto 24px auto;
    }
    .seller-header-detail .detail-wrapper .title .line {
        flex: 1;
        position: relative;
        top: -6px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .seller-header-detail .detail-wrapper .title .text {
        padding: 0 12px;
        font-weight: 700;
        font-size: 14px;
    }
    .supports {
        width: 80%;
        margin: 0 auto;
    }
    .supports .support-item {
        padding: 0 12px;
        margin-bottom: 12px;
        font-size: 0;
    }
    .supports .support-item:last-child {
        margin-bottom: 0;
    }
    .support-item .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: top;
        margin-right: 16px;
        background-size: 16px 16px;
        background-repeat: no-repeat;
    }
    .support-item .icon.decrease {
        background-image: url(./img/decrease_2@2x.png);
    }
    .support-item .icon.discount {
        background-image: url(./img/discount_2@2x.png);
    }
    .support-item .icon.special {
        background-image: url(./img/special_2@2x.png);
    }
    .support-item .icon.invoice {
        background-image: url(./img/invoice_2@2x.png);
    }
    .support-item .icon.guarantee {
        background-image: url(./img/guarantee_2@2x.png);
    }
    .support-item .text {
        line-height: 16px;
        font-size: 12px;
    }
    .detail-main .bulletin {
        width: 80%;
        margin: 0 auto;
    }
    .detail-main .bulletin .content {
        padding: 0 12px;
        line-height: 24px;
        font-size: 12px;
    }
}