<ion-header no-border>

    <ion-navbar color="blue">
        <ion-title>个人信息</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <mt-split></mt-split>
    <ion-list no-border>

        <button ion-item>
            头像
            <ion-avatar item-right>
              <img src="https://avatars2.githubusercontent.com/u/11835988?v=3&u=2a181779eb2164666606366a1df31f9c17cf7a20&s=100">
            </ion-avatar>
        </button>
        <button ion-item>
            昵称
            <ion-note item-right>
              <p>扬笑留影</p>
            </ion-note>
        </button>
        <button ion-item>
            生日
            <ion-note item-right>
              <p>1991-10-09</p>
            </ion-note>
        </button>
        <button ion-item>
            收货地址
            <ion-note item-right>
              <p>修改/添加</p>
            </ion-note>
        </button>
    </ion-list>

</ion-content>