<div class="content-wrapper">
    <div class="avatar">
        <img [src]="seller['avatar']" alt="" width="64" height="64">
    </div>
    <div class="content">
        <div class="title">
            <span class="brand"></span>
            <span class="name">{{seller['name']}}</span>
        </div>
        <div class="description">
            {{seller['description']}}/{{seller['deliveryTime']}}分钟送达
        </div>
        <div class="support" *ngIf="seller['supports']">
            <span class="icon" [ngClass]="classMap[seller['supports'][0]['type']]"></span>
            <span class="text">{{seller['supports'][0]['description']}}</span>
        </div>
    </div>
    <div class="support-count" (click)="showDetail()">
        <span class="count">{{seller['supports'].length}}个</span>
        <i></i>
    </div>
</div>
<div class="bulletin-wrapper" (click)="showDetail()">
    <span class="bulletin-title"></span><span class="bulletin-text">{{seller['bulletin']}}</span>
    <i></i>
</div>
<div class="background">
    <img [src]="seller['avatar']" alt="">
</div>
<!--<div class="detail" *ngIf="detailShow" [@flyIn]="detailHidden">-->