<div class="content-wrapper">
    <div class="avatar">
        <img [src]="seller['avatar']" alt="" width="64" height="64">
    </div>
    <div class="content">
        <div class="title">
            <span class="brand"></span>
            <span class="name">{{seller['name']}}</span>
        </div>
        <div class="description">
            {{seller['description']}}/{{seller['deliveryTime']}}分钟送达
        </div>
        <div class="support" *ngIf="seller['supports']">
            <span class="icon" [ngClass]="classMap[seller['supports'][0]['type']]"></span>
            <span class="text">{{seller['supports'][0]['description']}}</span>
        </div>
    </div>
    <div class="support-count" (click)="showDetail()">
        <!--<span class="count">{{seller['supports'].length}}个</span>-->
        <i></i>
    </div>
</div>
<div class="bulletin-wrapper" (click)="showDetail()">
    <span class="bulletin-title"></span><span class="bulletin-text">{{seller['bulletin']}}</span>
    <i></i>
</div>
<div class="background">
    <img [src]="seller['avatar']" alt="">
</div>
<!--<div class="detail" *ngIf="detailShow" [@flyIn]="detailHidden">-->
<div class="detail" *ngIf="detailShow" [@flyIn]="detailHidden">
    <div class="detail-wrapper clearfix">
        <div class="detail-main">
            <h1 class="name">{{seller['name']}}</h1>
            <div class="star-wrapper">
                <!--<wm-plugins-star [size]="48" [score]="seller['score']"></wm-plugins-star>-->
            </div>
            <div class="title">
                <div class="line"></div>
                <div class="text">优惠信息</div>
                <div class="line"></div>
            </div>
            <!--<ul *ngIf="seller['supports']" class="supports">
                <li class="support-item" *ngFor="let item of seller['supports']; let i=index">
                    <span class="icon" [ngClass]="classMap[seller['supports'][i]['type']]"></span>
                    <span class="text">{{seller['supports'][i]['description']}}</span>
                </li>
            </ul>-->
            <div class="title">
                <div class="line"></div>
                <div class="text">商家公告</div>
                <div class="line"></div>
            </div>
            <div class="bulletin">
                <p class="content">{{seller['bulletin']}}</p>
            </div>
        </div>
    </div>
    <div class="detail-close">
        <i class="fa fa-close" (click)="hideDetail()"></i>
    </div>
</div>